* {
    box-sizing: border-box;
}
:root {
    --primary-color: #0f1b4c;
}

html,
body {
    scroll-behavior: smooth;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
}

a {
    color: white;
    text-decoration: none;
}
.btn {
    display: inline-block;
    padding: 0 16px;
    min-width: 118px;
    line-height: 50px;
    font-weight: 600;
    font-size: 1.6rem;
    text-align: center;
    color: #ffffff;
    background: #171100;
    border-radius: 999px;
}
.btn:hover {
    opacity: 0.9;
    cursor: pointer;
}
.nav {
    display: flex;
    align-items: center;
    background: #383d40;
    width: 1920px;
    height: 90px;
}
.nav .logo {
    margin-left: 372px;
}
.nav .menu {
    flex: 1;
}
.nav .list-menu {
    margin-left: 215px;
    display: flex;
    gap: 80px;
}

.slide {
    position: relative;
    display: flex;
    height: 990px;
    width: 1920px;
    background: rgba(0, 118, 255, 0.05);
}

.slide .slide-left {
    margin-left: 205px;
}
.slide-left .logo {
    margin-top: 316px;
}
.slide-left h1 {
    font-weight: 400;
    font-size: 78px;
    line-height: 93px;
    /* or 119% */
    color: #277cfb;
}

.slide-left .desc {
    width: 588px;
    height: 160px;
    font-weight: 400;
    font-size: 24px;
    line-height: 165%;
    /* or 38px */
    color: #666666;
}
.slide-left span {
    font-weight: 600;
}
.slide-left .btn-dangky {
    width: 188.57px;
    height: 66px;
    background: #277cfb;
    border-radius: 7.07143px;
    border: none;
}

.slide-right .man {
    position: absolute;
    z-index: 1;
    bottom: 0;
}

.slide-right .bg {
    position: absolute;
    bottom: 0;
}
.slide-right .vector {
    position: absolute;
    top: 135px;
    right: 441px;
    /* bottom: 505px; */
}
.slide-right .vector-muiten {
    position: absolute;
    top: 115px;
    right: 765px;
    /* bottom: 505px; */
}
.slide-right .rectangle {
    display: flex;
    align-items: center;
    height: 84px;
    width: 187px;
    background: rgba(255, 255, 255, 0.6);
    box-shadow: 11.7857px 28.2857px 117.857px rgba(0, 0, 0, 0.16);
    backdrop-filter: blur(47.1429px);
    /* Note: backdrop-filter has minimal browser support */
    border-radius: 18.8571px;
}
.slide-right .rect-1 {
    position: absolute;
    z-index: 1;
    right: 784px;
    top: 205px;
}
.slide-right .rect-2 {
    position: absolute;
    z-index: 1;
    right: 317px;
    top: 355px;
}
.slide-right .rect-3 {
    position: absolute;
    z-index: 2;
    right: 769px;
    top: 450px;
}
.slide-right .img1 {
    margin-left: 15px;
    margin-right: 15px;
}
.slide-right .img2 {
    margin-left: 16px;
    margin-right: 10px;
}
.slide-right .img3 {
    margin-top: 26px;
    margin-right: -10px;
}
.slide .docs {
    width: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
    gap: 13px;
    bottom: 30px;
}
.slide .doc.action {
    width: 14px;
    height: 14px;
    background: #383d40;
    border-radius: 50%;
}
.slide .doc {
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background: #ffffff;
}
.video {
    margin-top: 150px;
    margin-left: 375px;
}
.video .video_main {
    width: 1170px;
    height: 658px;
}
.app {
    display: flex;
    gap: 186px;
    margin-top: 150px;
    margin-left: 414px;
    width: 1092px;
    height: 508px;
}
.app-right {
    flex: 1;
}
.app-left {
    flex: 1;
}
.app-right .title {
    font-weight: 500;
    font-size: 35px;
    line-height: 140%;
    /* or 49px */
    color: #000000;
}
.app-right .desc {
    margin-top: 24px;
    font-weight: 400;
    font-size: 20px;
    line-height: 165%;
    /* or 33px */
    letter-spacing: 0.02em;
    color: #666666;
}
.app-right .setting {
    display: flex;
    gap: 32px;
    margin-top: 37px;
}
.app-right .app-bot {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 36px;
}
.app-right .app-bot a {
    font-weight: 500;
    padding-right: 10px;
    font-size: 20px;
    line-height: 165%;
    /* identical to box height, or 33px */
    letter-spacing: 0.02em;
    text-decoration-line: underline;
    color: #277cfb;
}
.feature {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 93px 0;
    margin-top: 76px;
    margin-left: 240px;
    width: 1440px;
    height: 805px;
    background: #f2f8ff;
}

.feature .title {
    font-weight: 500;
    font-size: 35px;
    line-height: 140%;
    /* identical to box height, or 49px */
    color: #000000;
}
.feature-main {
    display: flex;
    justify-content: space-between;
    width: 903px;
    height: 508px;
}
.feature-main .right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
}
.item-1 .number {
    position: relative;
    height: 33px;
    font-weight: 400;
    font-size: 20px;
    line-height: 165%;
    /* identical to box height, or 33px */
    letter-spacing: 0.02em;
    color: #000000;
}
.item-1 .desc {
    width: 485px;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 0.02em;
    color: #666666;
}
.feature-main .number::before {
    content: "1";
    position: absolute;
    left: -42px;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25px;
    height: 25px;
    font-weight: 500;
    font-size: 18px;
    line-height: 140%;
    /* or 25px */
    border-radius: 50%;
    letter-spacing: 0.02em;
    color: #277cfb;
    background: #ffffff;
    border: 2px solid #277cfb;
}
.feature-main .ver2::before {
    content: "2";
}
.feature-main .ver3::before {
    content: "3";
}
.feature-main .ver4::before {
    content: "4";
}
.feature-main .item-1 {
    position: relative;
}
.feature-main .vector {
    position: absolute;
    left: -41px;
    top: 38px;
}
.feature-main .number.action {
    color: #277cfb;
}
.feature-main .number.action::before {
    background: #277cfb;
    color: #ffffff;
}
.app-2 {
    flex-direction: row-reverse;
}
